//整个页面背景色
$root-background-color: #FFFFFF;

//header背景色
$header-background-color: #343D46;

//header中按钮颜色
$header-btn-color: #FFFFFF;

//footer中字体颜色
$footer-font-color: #FFFFFF;

//contact背景色
$contact-background-color: #2E3138;

//contact字体颜色
$contact-font-color: #FFFFFF;

//搜索框背景色
$search-background-color: #272A31;

//搜索框placeholder颜色
$search-placeholder-color: #A8A8A8;

//chatBox背景色
$chatbox-background-color: #EFEFEF;