@import "../../../../style/color.scss";

.message-item {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .avatar {
    flex: 0 0 auto;
    margin: 0 15px;

    img {
      width: 35px;
      height:35px;
    }
  }

  .message {
    flex: 1 0 90%;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 微软雅黑;
    font-size: 15px;
  }

  .message:after{
    content: '';

  }
}